<include file="Public/public/home/head.html" /> 
<body>
  <div class="wrap bc">
    <div class="title tc pr top">
	  <span class="back-btn"></span>补水保养
	  <div class="nav-btn">
	    <ul class="pa">
	      <li><a href="">春纪系列</a></li>
		  <li><a href="">名冠系列</a></li>
		  <li><a href="">韩微系列</a></li>
	    </ul>
	  </div>
	</div>
	<div class="list">
	  <ul>
	    <li>
		  <a href="pro_detail.html"><img src="__PUBLIC__/uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
			相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
			相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
			相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
		<li>
		  <a href="pro_detail.html"><img src="uploads/product.gif"></a>
		  <h4><a href="pro_detail.html">四倍蚕丝凝白柔肤</a></h4>
		  <p>
		    相宜本草百合三件套装（洁面130g+润养水150ml+润养乳120g +2个小样） (独家专供) 相宜本草 满100送100（赠完为止）
          </p>
		  <h6>RMB 890</h6>
		</li>
	  </ul>
	</div>
	<div class="footer mt10 tc">
	  <p class="phone">联系电话：0311-1234567</p>
	  <p class="support">联系人：</p>
	  <p class="copyright">Copyright &copy; 2014.Company name All rights reserved.</p>
	</div>
  </div> 
  <script type="text/javascript" src="__PUBLIC__/js/script.js"></script>
<div style="display:none"></div>
</body>
</html>